$yel: #f4b01e;
$bld: #020d18;
$bl: #0a1521;
$bg: #99862A;
$red: #fe0f20;
$ora: #df5f37;
$bll: #37a3df;
$text: #fff;
$tex: #282828;
@mixin f500 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

@mixin f600 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

@mixin f700 {
    font-family: 'PlayfairDisplay', sans-serif;
    font-weight: 700;
}